
.list {
    border: 4px solid orange;
}

h1 {
    background: rgb(9, 255, 0);
    color:  white;
}
p {
    background: rgb(0, 153, 255);
    color:  white;
}
#my-super-p {
    background: orange;
    color:  white;
}